.title Match the tags with its definitions by dragging the tags on top of the description.
.content#bounding-box
  %span.tag.draggable#child-1= h "<p>"
  %span.tag.draggable#child-2= h "<b>"
  %span.tag.draggable#child-3= h "<i>"
  %span.tag.draggable#child-4= h "<u>"
  %span.tag.draggable#child-5= h "<div>"
  %span.tag.draggable#child-6= h "<center>"
  %span.tag.draggable#child-7= h "<marquee>"
  %span.tag.draggable#child-8= h "<br>"
  %span.tag.draggable#child-9= h "<hr>"
  %span.tag.draggable#child-10= h "<img>"
  %span.tag.draggable#child-11= h "<small>"
  %span.tag.draggable#child-12= h "<html>"
  %span.tag.draggable#child-13= h "<head>"
  %span.tag.draggable#child-14= h "<body>"
  %span.tag.draggable#child-15= h "<h1>"

  %span.descriptor.draggable#parent-1 Paragraph
  %span.descriptor.draggable#parent-2 Bolds text
  %span.descriptor.draggable#parent-3 Italicizes text
  %span.descriptor.draggable#parent-4 Underlines text
  %span.descriptor.draggable#parent-5 Divides / separates content
  %span.descriptor.draggable#parent-6 Centers the text
  %span.descriptor.draggable#parent-7 Makes text scroll across the screen
  %span.descriptor.draggable#parent-8 Creates a link break
  %span.descriptor.draggable#parent-9 Horizontal Line
  %span.descriptor.draggable#parent-10 Image
  %span.descriptor.draggable#parent-11 Makes the text small
  %span.descriptor.draggable#parent-12 Tag that tells the computer that this is an html file
  %span.descriptor.draggable#parent-13 Contains elements such at the title, the favicon + stylesheets
  %span.descriptor.draggable#parent-14 The meat of the webpage, you place all your content here
  %span.descriptor.draggable#parent-15 Largest header size
